html {
  scroll-behavior: smooth;
}

.mousedown {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 20px;
  left: 50%;
  animation: mouseAnimation 2.5s infinite;
  img {
    width: 40px;
  }
}

@keyframes mouseAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

// finalement, pas d'animation.

// nav {
//   li {
//     position: relative;

//     &::after {
//       content: "";
//       position: absolute;
//       width: 100%;
//       height: 2px;
//       --tw-bg-opacity: 1;
//       background-color: rgb(14 165 233 / var(--tw-bg-opacity));
//       bottom: -1px;
//       left: 50%;
//       transform: translateX(-70%);
//       opacity: 0;
//     }

//     &:hover::after {
//       animation: navTranslation 0.2s forwards; //
//     }
//   }
// }

// @keyframes navTranslation {
//   0% {
//     transform: translateX(-90%);
//     opacity: 0;
//   }
//   50% {
//     transform: translateX(-70%);
//     opacity: 0.5;
//   }
//   100% {
//     transform: translateX(-50%);
//     opacity: 1;
//   }
// }


nav {
  background: rgba(3, 7, 18, 0.48);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.6px);
  -webkit-backdrop-filter: blur(10.6px);
}
#introduction_desktop {
  max-width: 1250px;
  margin: 0 auto;
}

.burger-container {
  z-index: 200;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  top: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  position: relative;
  width: 60%;
  height: 60%;
}

.burger-slice-1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background: rgb(233, 233, 233);
  border-radius: 10px;
  transition: top 0.5s ease;
  animation: slice-1-out 0.5s linear;
  transform: translate(0, -50%);
}
.burger-slice-2 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  transform: translate(0, -50%);
  background: rgb(233, 233, 233);
  border-radius: 10px;
  transition: all 0.5s linear;
  opacity: 1;
}
.burger-slice-3 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background: rgb(233, 233, 233);
  border-radius: 10px;
  transition: bottom 0.5s ease;
  transform: translate(0, -50%);
  animation: slice-3-out 0.5s linear;
}

.burger-slice-1-active {
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
  animation: slice-1-in 0.5s linear forwards;
}
.burger-slice-2-active {
  transition: all 0.5s linear;
  opacity: 0;
}
.burger-slice-3-active {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  animation: slice-3-In 0.5s linear forwards;
}

@keyframes slice-3-In {
  0% {
    top: 100%;
    transform: translate(0, -50%);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
  }
}
@keyframes slice-3-out {
  0% {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 100%;
    transform: rotate(0deg);
  }
}

@keyframes slice-1-in {
  0% {
    top: 0%;
    transform: translate(0, -50%);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }
}
@keyframes slice-1-out {
  0% {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 0%;
    transform: translate(0, -50%);
  }
}

#navMobile {
  position: absolute;
  height: 95vh;
  right: 0;
  align-items: center;
  top: 0%;

  li {
    margin: 20px 0;
  }
}
.navRanged {
  right: 100% !important;
}

#bodyBurger {
  background: rgb(0, 2, 20);
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}



.background span {
  width: 22vmin;
  height: 22vmin;
  border-radius: 22vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 6;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}



@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}


.background span {
  width: 22vmin;
  height: 22vmin;
  border-radius: 22vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 13;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: rgba(7, 89, 133, 0.153);
  top: 27%;
  left: 51%;
  animation-duration: 86s;
  animation-delay: -330s;
  transform-origin: 22vw -3vh;
  box-shadow: 44vmin 0 5.967598786215568vmin currentColor;
    z-index: -100;

}
.background span:nth-child(1) {
  color: rgba(7, 89, 133, 0.153);
  top: 49%;
  left: 8%;
  animation-duration: 352s;
  animation-delay: -50s;
  transform-origin: -23vw 23vh;
  box-shadow: 44vmin 0 6.286751059988408vmin currentColor;
    z-index: -100;

}
.background span:nth-child(2) {
  color: rgba(7, 89, 133, 0.153);
  top: 56%;
  left: 100%;
  animation-duration: 137s;
  animation-delay: -169s;
  transform-origin: 25vw -16vh;
  box-shadow: 44vmin 0 6.267232309603454vmin currentColor;
    z-index: -100;

}
.background span:nth-child(3) {
  color: rgba(7, 89, 133, 0.153);
  top: 44%;
  left: 31%;
  animation-duration: 348s;
  animation-delay: -247s;
  transform-origin: 21vw -3vh;
  box-shadow: 44vmin 0 6.09787667559517vmin currentColor;
    z-index: -100;

}
.background span:nth-child(4) {
  color: rgba(7, 89, 133, 0.153);
  
  top: 24%;
  left: 18%;
  animation-duration: 180s;
  animation-delay: -108s;
  transform-origin: -10vw 4vh;
  box-shadow: 44vmin 0 5.877398219021891vmin currentColor;
    z-index: -100;

}
.background span:nth-child(5) {
  color: rgba(7, 89, 133, 0.153);
  top: 20%;
  left: 77%;
  animation-duration: 216s;
  animation-delay: -24s;
  transform-origin: -15vw 2vh;
  box-shadow: 44vmin 0 5.839697108663498vmin currentColor;
    z-index: -100;

}
.background span:nth-child(6) {
  color: rgba(7, 89, 133, 0.153);
  top: 66%;
  left: 2%;
  animation-duration: 223s;
  animation-delay: -63s;
  transform-origin: 23vw -15vh;
  box-shadow: 44vmin 0 5.521749947133727vmin currentColor;
    z-index: -100;

}
.background span:nth-child(7) {
  color: rgba(7, 89, 133, 0.153);
  top: 60%;
  left: 26%;
  animation-duration: 249s;
  animation-delay: -123s;
  transform-origin: -8vw -8vh;
  box-shadow: 44vmin 0 6.1670084795634965vmin currentColor;
    z-index: -100;

}
